body {
  font-family: "Inter", sans-serif;
  background-color: #f5f5f5;
  color: #000;
  font-size: 20px;
  margin: 0;
}
.wrapper {
  max-width: 1100px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/*Header*/
.nav {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding-left: 0;
}
.nav > li {
  margin-left: 10px;
  margin-right: 10px;
}
.nav > li > a {
  text-decoration: none;
  color: #4f61cc;
}

.header {
  background-color: #fff;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.logo {
  color: #243bbf;
  font-size: 36px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-image {
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(../img/medical-care.png);
  background-size: contain;
}
.header-info span {
  font-size: 16px;
}
.header-info button {
  font-size: 14px;
  border-radius: 20px;
  border: 2px solid #4f61cc;
  background-color: transparent;
  padding: 10px 15px;
  margin-left: 20px;
  transition: 0.2s ease;
}

.header-info button:hover {
  background-color: #4f61cc;
  cursor: pointer;
  color: #fff;
}

.header-bottom {
  padding: 15px 0;
}
.header-bottom .nav {
  font-size: 16px;
  margin: 0;
}
hr {
  border: none;
  background-color: #f5f5f5;
  height: 1px;
}
/*banner*/

.banner {
  /* background-image: url(../img/images.jpg); */
  background-color: #71b15d;
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; */
  padding-top: 150px;
  padding-bottom: 150px;
  color: white;
}
.title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 39px;
}
.title-h2 {
  font-size: 24px;
  font-weight: 700;
}

.banner p {
  margin-bottom: 50px;
  max-width: 315px;
}
.btn {
  color: white;
  text-decoration: none;
  border-radius: 20px;
  border: 2px solid #fff;
  background-color: transparent;
  padding: 10px 15px;
  transition: 0.2s ease;
}

.btn:hover {
  background-color: #fff;
  color: #141212;
}

.bg-white {
  background-color: #fff;
  padding: 40px 30px;
}
.bg-green {
  background-color: #71b15d;
  color: #fff;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bg-green-item {
  flex: 0 0 60%;
}
.bg-green-img {
  flex: 0 0 40%;
  text-align: center;
}

.bg-green h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}
.bg-green input {
  font-size: 14px;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 15px;
}
.bg-green .btn {
  display: block;
  text-align: center;
  max-width: 150px;
}

.thumb {
  margin-bottom: 20px;
  width: 150px;
}
.thumb img {
  max-width: 100%;
}
.catalog {
  padding-top: 100px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 19px 40px;
}

.grid-item-title {
  grid-column: 1/4;
  grid-row: 1/2;
}

.grid-item-title {
  grid-column: 1/4;
  grid-row: 1/2;
}
.grid-item-img {
  grid-column: 4/5;
  grid-row: 1/2;
  text-align: center;
}
.grid-item-img img {
  max-width: 100%;
  width: 90px;
}
.bg-green-item img {
  width: 150px;
}
.grid-item-left {
  grid-column: 1/3;
  grid-row: 3/4;
}
.grid-item-right {
  grid-column: 3/5;
  grid-row: 3/4;
}
.grid-item-catalog {
  text-align: center;
  padding: 15px;
}
.grid-item-catalog .bg-white {
  padding: 15px 30px;
}
.grid-price {
  font-size: 21px;
  font-weight: 500;
}
.grid-btn {
  border-radius: 20px;
  border: 2px solid #4f61cc;
  background-color: transparent;
  padding: 10px 25px;
  margin-left: 36px;
  transition: 0.2s ease;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
.grid-btn:hover {
  background-color: #4f61cc;
  color: #fff;
}

/*footer*/
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
}
.social-item {
  margin-right: 20px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  color: #393737;
  padding: 25px 0;
}
.footer-info span {
  font-size: 16px;
  margin-left: 36px;
}

.footer-bottom p {
  margin: 0;
}
.social-link {
  display: block;
  width: 45px;
  height: 45px;
  border: 2px solid rgb(35, 107, 58);
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.social-facebook {
  background-color: #71b15d;
  background-image: url(../img/Vector.svg);
}
.social-instagram {
  background-color: #71b15d;
  background-image: url(../img/Vector1.png);
}

.social-twitter {
  background-color: #71b15d;

  background-image: url(../img/Vector\ twitter.svg);
}
.social-vk {
  background-color: #71b15d;
  background-image: url(../img/Vector.vk.svg);
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom a {
  color: #393737;
  text-decoration: none;
}

.footer-info button {
  font-size: 14px;
  border-radius: 20px;
  border: 2px solid #4f61cc;
  background-color: transparent;
  padding: 10px 15px;
  margin-left: 20px;
  transition: 0.2s ease;
}
.footer-info button:hover {
  background-color: #4f61cc;
  cursor: pointer;
  color: #fff;
}
