body {
  margin: 0;
  background-color: #ffff;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #080d26;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  padding: 6px 135px;
  align-items: center;
  border: 1px solid #000;
}

.nav {
  display: flex;
  gap: 20px;
  list-style-type: none;
  font-size: 16px;
  font-weight: 500;
  color: #243bbf;
}

.nav-link {
  text-decoration: none;
  text-transform: capitalize;
}
.nav-link:visited {
  color: green;
}
.nav-link:hover {
  color: rgb(232, 25, 184);
  text-decoration: underline;
}

.button {
  width: 203px;
  height: 55px;
  border: 2x solid #243bbf;
  color: #ffff;
  padding: 10px 15px;
  background-color: #243bbf;
  cursor: pointer;
}

/*container-box*/
.hero-banner {
  display: flex;
}

h1 {
  font-size: 69px;
}
