.last {
  background-color: var(--blue);
  color: var(--white);
  margin-bottom: 150px;
  height: 534px;
}

.footer-top {
  padding-top: 64px;
  padding-left: 139px;
  padding-right: 143px;
  display: flex;
  justify-content: space-between;
}
.columnone {
  display: flex;
  flex-direction: column;
}
.list-first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;

  li:first-child {
    font-size: 24px;
  }
  li {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}

.second-list {
  font-size: 16px;

  li:first-child {
    font-size: 24px;
  }

  li {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}
.socIcon-wrap {
  display: flex;
  gap: 26px;

  a {
    background-size: contain;
    display: block;
    width: 35px;
    height: 35px;
  }

  &-facebook {
    background-image: url(../img/facebook\ .svg);
  }
  &-instagram {
    background-image: url(../img/INSTAGRAM.svg);
  }
  &-linkedin {
    background-image: url(../img/LINKEDIN.svg);
  }
  &-twitter {
    background-image: url(../img/TWITTER.svg);
  }
}

.footerbottom {
  font-size: 11px;
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
  margin: 0;
  padding-top: 60px;
}
