.last {
  background-color: var(--blue);
  color: var(--white);
  margin-bottom: 150px;
  height: 534px;
}

.footer-top {
  padding-top: 64px;
  padding-left: 139px;
  padding-right: 143px;
  display: flex;
  justify-content: space-between;
}
.columnone {
  display: flex;
  flex-direction: column;
}
.list-first li:first-child {
  font-size: 24px;
}
.list-first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
}
.list-first li {
  padding-top: 40px;
  padding-bottom: 20px;
}

.second-list li:first-child {
  font-size: 24px;
}

.second-list {
  font-size: 16px;
}
.second-list li {
  padding-top: 40px;
  padding-bottom: 20px;
}
.socIcon-wrap {
  display: flex;
  gap: 26px;
}
.socIcon-wrap a {
  background-size: contain;
  display: block;
  width: 35px;
  height: 35px;
}

.social-facebook {
  background-image: url(../img/facebook\ .svg);
}
.social-instagram {
  background-image: url(../img/INSTAGRAM.svg);
}
.social-linkedin {
  background-image: url(../img/LINKEDIN.svg);
}
.social-twitter {
  background-image: url(../img/TWITTER.svg);
}

.footerbottom {
  font-size: 11px;
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
  margin: 0;
  padding-top: 60px;
}
