.top-nav {
  display: flex;
  justify-content: space-between;
  padding: 6px 135px;
  align-items: center;
  border: 1px solid #000;
}

.nav {
  display: flex;
  gap: 20px;
  list-style-type: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--blue);

  &-link {
    text-decoration: none;
    text-transform: capitalize;
  }
  &-link:visited {
    color: green;
  }
  &-link:hover {
    color: rgb(232, 25, 184);
    text-decoration: underline;
  }
}
