@import url("./_vars.scss");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1236px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid red;
}

.logo {
  margin-right: 32px;
}
.navBar {
  display: flex;
  gap: 16px;
}

.navBar-item {
  list-style-type: none;
}
